<div class="content">

<% if @repositories.length == 0 %>
	<h2> No repositories for user <%= @username %> found! </h2>
<% else  %>
	<h1>Repositories for user <%= @username %> </h1>

	<%= render :file => "visual_repositories/listRepos", :locals => { :repositories => @repositories} %>
<% end %>
</div>
