<h1>About TravisCI</h1>

    <p>
    <b>TravisCI supports plenty of programming languages. The following cluster shows the variety of different languages.</b>
    </p>

    <div id = "lang">
    <%= render 'start/aboutLanguage' %>
    </div>
    <p>
    <b>Every project can be tested with different settings. Here you can see a vast selection.</b>
   </p>
    <div id = "ver">
    <%= render 'start/aboutVersion' %>
   </div>
