<div class="startContent" >
  <h1>Welcome to <%= image_tag "logo_visualStats.png", :alt => "VisualStats", :width => "300px" %> </h1>
</div>



    <h3>About the project </h3>
  <p>
    <b>TravisCI</b> is a hosted and distributed <b>Continous Integration Service</b> which is used to test hosted projects from <b>Github</b>. Each <b>commit</b> triggers a <b>build</b> of a project and would be tested by different environments. Builds are divided into single <b>jobs</b>, can either success or fail. The amount of data is collected by Travis daily and available for us, the group called  <b>VisualStats</b>, to visualize. We developed an application which is made to be available over <b>Restful Routes</b> and visualized using different diagrams. For it there is a large amount of data over 40GB to observe and reasonable to prepare.
   </p>
   
  <div id="myCarousel" class="carousel slide">
  <!-- Carousel items -->
  <div class="carousel-inner">
    <div class="active item">
      <img src="/assets/example_multi_lines.png" class="example_images" />
      <div class="my-carousel-caption">
            <h4>Example Multi Lines</h4>
            <p>You can compare 2-5 languages with each other. They are shown by success over the period they have been used for CI.</p>
      </div>
    </div>
    <div class="item">
      <img src="/assets/example_pie.png" class="example_images" />
      <div class="my-carousel-caption">
            <h4>Example Pie</h4>
            <p>The result of all builds and all jobs can be seen in a pie.</p>
     </div>
    </div>
    <div class="item">
      <img src="/assets/example_column_spline.png" class="example_images" />
      <div class="my-carousel-caption">
            <h4>Example Columns with Spline</h4>
            <p>Each repository is visualized by its builds and their success and fail. The spline represents the amount of builds in this month.</p>
      </div>
    </div>
  </div>
  <!-- Carousel nav -->
  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>

<script type="text/javascript">

setup();

function setup(){

  $('.carousel').carousel({
    interval: 5000,
    pause: "hover"
  });
};

</script>