<div class="startContent" >
  <h1>Welcome to <%= image_tag "logo_visualStats.png", :alt => "VisualStats", :width => "300px" %> </h1>
</div>



    <h3>Über das Projekt </h3>
    <p>
    TravisCI ist ein gehosteter, verteilter Continous Integration Service welcher verwendet wird um auf Github gehostete Projekte zu testen. Jeder Commit löst einen Build des Projektes aus, bei welchem dieses auf verschiedenen Umgebungen getestet wird. Builds, untergliedert in einzelne Jobs, können somit entweder erfolgreich sein oder fehlschlagen. Die Menge an Daten, die Travis dabei jeden Tag sammelt, stehen uns, der Gruppe VisualStats, zur Verfügung um diese zu visualisieren. Wir haben eine App entwickelt in welcher über Restful Routes die Daten verfügbar gemacht wurden und mittels verschiedener Diagramme visualisiert werden. Dabei gilt es die großen Datenmengen von über 40GB zu beachten und die Daten sinnvoll aufzubereiten. 
   </p>
   
<div class="startContent">
   <%= image_tag "screenshot_pie.png", :alt => "Pie", :width => "150px" %> 
   <%= image_tag "screenshot_balken.png", :alt => "Balken", :width => "500px" %> 
   <p>
   <%= image_tag "screenshot_lines.png", :alt => "Lines", :width => "800px" %> 
   </p>

</div>
