
# db setup from this blog post
# http://matthew.mceachen.us/blog/howto-test-your-rails-application-with-travis-ci-on-different-database-engines-1220.html

sqlite: &sqlite
  adapter: sqlite3
  database: db/<%= Rails.env %>.sqlite3

postgresql: &postgresql
  adapter: postgresql
  username: postgres
  password:
  database: myapp_<%= Rails.env %>
  min_messages: ERROR

defaults: &defaults
  pool: 5
  timeout: 5000
  host: localhost
#  <<: *<%= ENV['DB'] || "postgresql" %>
  <<: *<%= ENV['DB'] || "sqlite" %>

development:
  <<: *defaults

test:
  <<: *defaults

# for production:
# load the secret devheroku configuration if present
<% secret = File.expand_path("secret/devheroku_database.yml") %>
<%= File.read(secret) if File.exist?(secret)%>