<table class="table table-striped table-bordered table-hover">
  <tr>
    <th>Languages</th>
    <th>Amount</th>
  </tr>

<% languages = @languages %>
<% languages.each do |language| %>
  <tr>
    <td><%= language[0] %></td>
    <td><%= language[1] %></td>
  </tr>
<% end %>
</table>

<br />
