/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

* {
	margin: 0;
}

body{
	border:	none;	
	padding: 10px;
}

h1{
	font-size: 2em !important;
  font-size: 25px !important;
  color: #00868B !important;
  font-family: sans-serif !important;
}

a:hover{
	background-color: transparent !important;
	text-decoration: none !important;
}

a {
	color: #00868B !important;
}

.content{
	margin-right:150px;
	margin-left: 150px;
	text-align:justify;

}

.startContent{
	text-align:center;
}



 .barfail {
   stroke: white;
   fill: #FF8E8E;
 }


 .barsuccess {
   stroke: white;
   fill: #93EEAA;
 }

