// Place all the styles related to the builds controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
circle.dot {
  fill: steelblue;
}

.axis text {
  font: 12px sans-serif;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 0.5px;
}            

.axis path, .axis line {
  fill: none;
  stroke: #000;
  stroke-opacity: 0.5;
  shape-rendering: crispEdges;
}

h1 {
  margin-left: 200px; 
  font-size: 25px;
  color: steelblue;
  font-family: sans-serif;
}