
* {
	margin: 0;
}

body{
	border:	none;	
	padding-top: 5px;
	padding-left: 50px;
	padding-right: 50px;
  font-family: sans-serif;
}
h1 {
  font-size: 250%;
  color: #00868B;

}

h2, h3, h4{
  font-size: 200%;
  color: #00868B;

}


a:hover{
	background-color: transparent !important;
	text-decoration: none !important;
}

.dropdown-menu li > a:hover,
.dropdown-menu li > a:focus,
.dropdown-submenu:hover > a {
	background-image: none !important;
  	background-color: #d6d7d8 !important;
	text-decoration: none !important;
}

.navbar-inverse {
  color: #999999;
}

.navbar-inverse .navbar-inner {
  background-color: #473935 !important;
  background-image: -moz-linear-gradient(top, #373534, #262423) !important;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#373534), to(#262423)) !important;
  background-image: -webkit-linear-gradient(top, #373534, #262423) !important;
  background-image: -o-linear-gradient(top, #373534, #262423) !important;
  background-image: linear-gradient(to bottom, #373534, #262423) !important;
  background-repeat: repeat-x;
  border-color: #262423;
}

a {
	color: #00868B !important;
}

.content{
	/*margin-right:150px;*/
	/*margin-left: 150px;*/
	text-align:justify;

}

.startContent{
	text-align:center ;
}

#dimensionTable {

  width: 700px;
}


.submitBtn {
  margin-bottom: 12px;
}

.labelTag {
  font-weight: bold ;
  margin-left: 5px;
}

.labelTagHTML{
  font-weight: bold;
}

.labelTagHTMLsmall{
 font-variant: small-caps;
}

#outContainer {
  width: 100%;
}

#rightContainer{
  width: 50%;
  float: right;
}

#leftContainer{
  width: 50%;
  float: left;
  margin-top: 120px;
}

.number {
  text-align: right !important;
}

.ligthenTable {
  color: #ffffff !important;
}
.ligthenTable:hover {
  color: #000000 !important;
  filter: alpha(opacity=90) !important;
}
.successTable {
  background-color: #7f9b44 !important;
}

.failTable {
  background-color: #a4403d !important;
}

.no_resultTable {
  background-color: #345f94 !important;
}
.totalTable {
  color: #000000 !important;
  background-color: #d2d2d2 !important;
}
