
<h1>Languages used for CI</h1>

<table class="table table-striped table-bordered table-hover">
  <tr>
    <th>Languages</th>
    <th>Amount</th>
  </tr>

<% @languages.each do |language, amount| %>
  <tr>
    <td><%= language %></td>
    <td><%= amount %></td>
  </tr>
<% end %>
</table>

<br />
