<div class="content">

<% if @jobs.length == 0 %>
	<h2> No jobs for user <%= @username %> found! </h2>
<% else  %>
	<h1>List all Jobs for user <%= @username %> </h1>

	<%= render :file => "visual_jobs/listJobs", :locals => { :jobs => @jobs } %>

	<%= will_paginate @jobs, :params => {:controller => "visualJobs", :action=>"listJobsForUser" } %>
<% end %>
</div>